@charset "utf-8";
/* CSS Document */

/* Copyright © Critical Chicken. All rights reserved. Critical Chicken, the Critical Chicken logo and wordmark, and #ForTheGaymers are trademarks of Critical Chicken.
All other trademarks referred to are trademarks of their respective owners. See website for current copyright years. */


/* ANIMATIONS */

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}
	100% {
		transform: translateX(25%);
	}
}

@keyframes live32 {
	0% {
		background-position: 8px 0px;
	}
	33% {
		background-position: 8px -32px;
	}
	66% {
		background-position: 8px -64px;
	}
}

@keyframes live24 {
	0% {
		background-position: 8px 0px;
	}
	33% {
		background-position: 8px -24px;
	}
	66% {
		background-position: 8px -48px;
	}
}

@keyframes glitch {
	0.5%, 16% {
		transform: translate(2px,0) skew(0deg);
	}
	1%, 15% {
		transform: translate(-2px,0) skew(0deg);
	}
	15.5% {
		transform: translate(0,0) skew(5deg); 
	}
}

@keyframes glitchTop{
	0.5%, 16% {
		transform: translate(2px,-2px);
	}
	1%, 15% {
		transform: translate(-2px,2px);
	}
	15.5% {
		transform: translate(13px,-1px) skew(-13deg); 
	}
}

@keyframes glitchBotom{
	0.5%, 16% {
		transform: translate(-2px,0);
	}
	1%, 15% {
		transform: translate(-2px,0);
	}
	15.5% {
		transform: translate(-22px,5px) skew(21deg); 
	}
}


/* COMMONS */

body {
	background-color: #edecec;
	min-height: 100%;
	font-family: "Noto Sans Display", sans-serif;
	font-weight: 400;
}

b,
strong {
	font-weight: 600;
}

i,
em {
	font-style: italic;
}

#container {
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

#header-outer {
	width: 100%;
	background: white;
	z-index: 100;
	position: relative;
	display: block;
}

#header-inner {
	width: 1120px;
	height: 96px;
	left: calc(50% - 560px);
	position: relative;
	background-image: url("../img/branding_forthegaymers_noto-sans-variant_color-on-white_for96px.png");
	background-size: 280.5px 96px;
	background-position: right top;
	background-repeat: no-repeat;
}

#header-inner a {
	position: relative;
	top: 16px;
	opacity: 1;
	transition: opacity 0.16s;
}

#header-inner a:hover {
	opacity: 0.68;
}

#header-inner img {
	width: 419.5px;
}

#menu-outer {
	width: 100%;
	height: 64px;
	background: black;
	position: relative;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.32);
	z-index: 50;
	display: block;
}

#menu-inner {
	width: 1120px;
	height: 63px;
	position: relative;
	left: calc(50% - 560px);
	top: 0;
	text-align-last: justify;
	cursor: default;
	line-height: 63px;
	background-image: url(../img/ui_search-shield_black_for32px.png); /* For the sake of pre-loading */
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 32px 32px;
}

#menu-inner a {
	transition: opacity 0.16s;
}

#menu-inner a:hover,
#menu-inner a:hover {
	opacity: 0.68;
}

#bold-menu-items,
#bold-menu-items li,
#regular-menu-items,
#regular-menu-items li {
	display: inline-block;
}

#bold-menu-items li a,
#regular-menu-items li a {
	color: white;
	text-decoration: none;
	font-size: 22px;
	margin-right: 28px;
	font-weight: 500;
}

#regular-menu-items li a {
	font-weight: 300;
}

#bold-menu-items li:last-of-type a,
#regular-menu-items li:last-of-type a {
	margin-right: 0 !important;
}

#ticker-outer {
	width: 100%;
	height: 64px;
	background: #FFDC17;
	position: relative;
	display: block;
}

#ticker-inner {
	width: 1100px;
	height: 63px;
	position: relative;
	left: calc(((100% - 1100px) / 2) + 10px);
	top: -18px;
}

#ticker-contents {
	font-family: "Noto Sans Display", sans-serif !important;
	font-size: 22px !important;
	line-height: 63px !important;
	font-weight: 500 !important;
}

#ticker-contents b,
#ticker-contents strong {
	font-weight: 700 !important;
}

#ticker-contents li {
	padding: 1px 45px 0 32px !important;
	background-image: url("../img/ui_ticker-bullet_color-on-yellow_for16px.png");
	background-size: 13px 16px;
	background-repeat: no-repeat;
	background-position: right 10px;
}

#ticker-link {
	width: 100%;
	height: 64px;
	position: relative;
	z-index: 150;
	top: -95px;
}

#ticker-link a {
	width: 100%;
	height: 64px;
	font-size: 0;
	line-height: 0;
	color: rgba(0, 0, 0, 0);
	display: block;
	background: rgba(255, 255, 255, 0);
	transition: background 0.16s;
}

#ticker-link a:hover {
	background: rgba(255, 255, 255, 0.32);
}

#jumbotron-outer {
	width: 100%;
	height: auto;
	overflow-y: visible;
	overflow-x: hidden;
	display: block;
	position: relative;
	background: rgb(244,118,20);
	background: linear-gradient(90deg, black 0%, #717070 100%);
}

#jumbotron-outer div.bg {
	height: 100%;
	animation: slide 24s ease-in-out infinite alternate;
	background-image: linear-gradient(-63.4deg, black 50%, #717070 50%);
	bottom: 0;
	left: -50%;
	opacity: 0.32;
	position: absolute;
	right: -50%;
	top: 0;
	z-index: 2;
}

#jumbotron-outer.red {
	background: linear-gradient(90deg, #d20202 0%, #e36262 100%);
}

#jumbotron-outer.red div.bg {
	background-image: linear-gradient(-63.4deg, #d20202 50%, #e36262 50%);
}

#jumbotron-outer.blue {
	background: linear-gradient(90deg, #1564dc 0%, #6e9fe9 100%);
}

#jumbotron-outer.blue div.bg {
	background-image: linear-gradient(-63.4deg, #1564dc 50%, #6e9fe9 50%);
}

#jumbotron-outer.orange {
	background: linear-gradient(90deg, #f47614 0%, #f8aa6d 100%);
}

#jumbotron-outer.orange div.bg {
	background-image: linear-gradient(-63.4deg, #f47614 50%, #f8aa6d 50%);
}

#jumbotron-outer div.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 32s;
}

#jumbotron-outer div.bg3 {
	animation-duration: 40s;
}

#jumbotron-inner {
	width: 1120px;
	position: relative;
	left: calc((100% - 1120px) / 2);
	z-index: 50;
	top: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	height: auto;
	display: block;
}

#jumbotron-inner img {
	float: right;
	position: absolute;
	top: 32px;
	z-index: 250;
	border-radius: 8px;
	left: 580px;
	display: block;
}

#jumbotron-text {
	width: 544px;
	display: block;
}

#jumbotron-text span:last-of-type {
	color: white;
	font-size: 62px;
	line-height: 80px;
	display: block;
	margin-top: 16px;
	font-weight: 700;
}

#jumbotron-link {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: absolute;
	z-index: 300;
	top: 0;
	display: block;
}

#jumbotron-link a {
	width: 100%;
	height: 100%;
	overflow: auto;
	display: block;
	font-size: 0;
	line-height: 0;
	color: rgba(0, 0, 0, 0);
	background: rgba(255, 255, 255, 0);
	transition: background 0.16s;
}

#jumbotron-link a:hover {
	background: rgba(255, 255, 255, 0.16);
}

#socials {
	height: 88px;
	position: relative;
	top: -32px;
	left: calc(50% + 112px);
	z-index: 300;
	border-radius: 8px;
	width: 448px;
}

#socials ul,
#socials ul li {
	display: block;
	float: left;
}

#socials ul li {
	width: 64px;
	height: 64px;
	margin-right: 32px;
	border-radius: 8px;
}

#socials ul li.socials-discord {
	background-image: url("../img/socials_discord_white-on-purple_for24px.png");
	background-size: 32px 24px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #5865f2;
}

#socials ul li.socials-instagram {
	background-image: url("../img/socials_instagram_white-on-color_for64px.png");
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ff1066;
}

#socials ul li.socials-mastodon {
	background-image: url("../img/socials_mastodon_white-on-purple_for32px.png");
	background-size: 30.5px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #6364ff;
}

#socials ul li.socials-ko-fi {
	background-image: url("../img/socials_ko-fi_color-on-blue_for20-5px.png");
	background-size: 32px 20.5px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #29abe0;
}

#socials ul li.socials-tumblr {
	background-image: url("../img/socials_tumblr_white-on-blue_for32px.png");
	background-size: 18px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #011935;
	margin-right: 0;
}

#socials ul li.socials-threads {
	width: 24px;
	height: 24px;
	margin-right: 0;
	border-radius: 4px;
	background-image: url("../img/socials_threads_white-on-color_for24px.png");
	background-size: 24px 24px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ff1066;
	position: relative;
	left: 240px;
	top: -16px;
}

#socials ul li a {
	width: 64px;
	height: 64px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0);
	transition: background 0.16s;
	font-size: 0;
	line-height: 0;
	color: rgba(0, 0, 0, 0);
	display: block;
}

#socials ul li a:hover {
	background: rgba(255, 255, 255, 0.16);
}

#socials ul li.socials-threads a {
	width: 24px;
	height: 24px;
	border-radius: 4px;
}

#home-content-upper {
	position: relative;
	width: 1153px;
	left: calc((100% - 1120px) / 2);
	top: -60px;
	display: block;
}

#home-content-lower {
	position: relative;
	width: 1153px;
	left: calc((100% - 1120px) / 2);
	top: -6px;
	display: block;
}

#home-content-upper h1,
#home-content-lower h1 {
	font-size: 41px;
	color: black;
	font-weight: 500;
}

#posts-container-upper,
#posts-container-lower {
	width: 100%;
	margin-top: 27px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 23px;
}

#posts-container-lower {
	margin-top: 25px;
}

.homepage-post {
	width: 352px;
	float: left;
	margin-right: 32px;
}

.homepage-post a.thumb-link {
	border-radius: 8px;
	margin-bottom: 16px;
	display: block;
}

.homepage-post img {
	border-radius: 8px;
}

.homepage-post-title {
	width: 100%;
	display: block;
	padding-top: 1px;
}

.homepage-post-title a {
	font-size: 20px;
	line-height: 32px;
	color: black;
	text-decoration: none;
	opacity: 1;
	transition: opacity 0.16s;
	font-weight: 700;
}

.homepage-post-title a:hover {
	opacity: 0.68;
}

#not-sidebar-outer {
	width: 100%;
	background: #1564dc;
	position: relative;
	display: block;
	top: -13px;
	height: auto;
	overflow: auto;
	padding-top: 24px;
	padding-bottom: 23px;
}

#not-sidebar-inner {
	width: 1120px;
	left: calc((100% - 1120px) / 2);
	position: relative;
	height: auto;
	overflow: hidden;
	display: block;
}

#not-sidebar-inner div {
	padding-bottom: 100%;
	margin-bottom: -100%;
}

#not-sidebar-inner h1 {
	font-size: 31px;
	line-height: 40px;
	color: white;
	font-weight: 600;
}

#not-sidebar-inner img {
	margin-top: 16px;
	border-radius: 8px;
}

#not-sidebar-inner p {
	font-size: 20px;
	line-height: 32px;
	margin-top: 9px;
	margin-bottom: 8px;
	color: white;
}

#not-sidebar-inner a.raquo {
	font-size: 20px;
	line-height: 32px;
	text-decoration: underline;
	color: white;
	font-weight: 600;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

#not-sidebar-box-left,
#not-sidebar-box-right {
	width: 352px;
	margin-right: 32px;
	float: left;
	display: block;
	height: 100%;
}

#not-sidebar-box-mastodon {
	width: 352px;
	float: left;
	height: 100%;
	display: block;
}

#not-sidebar-box-mastodon iframe {
	border-radius: 8px;
	margin-top: 8px;
	margin-bottom: 18px;
	height: calc(100% - 17px);
	position: absolute;
	display: block;
}

#home-navigation {
	display: block;
	position: relative;
	width: 1120px;
	left: calc((100% - 1120px) / 2);
	border-top: 1px #717070 solid;
	margin-top: 16px;
}

#home-navigation ul,
#home-navigation ul li {
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

#home-navigation ul li {
	width: 160px;
	height: 64px;
	margin-right: 32px;
	border-radius: 8px;
	background: black;
	margin-top: 32px;
	text-align: center;
}

#home-navigation ul li.news {
	background: #d20202;
}

#home-navigation ul li.features {
	background: #1564dc;
}

#home-navigation ul li.reviews {
	background: #f47614;
}

#home-navigation ul li.ko-fi {
	background: #29ABE0;
	width: 352px;
	margin-right: 0;
}

#home-navigation ul li.ko-fi span:after {
	content: "\00A0on Ko-fi";
}

#home-navigation ul li a {
	font-size: 22px;
	line-height: 63px;
	width: 160px;
	height: 64px;
	display: block;
	position: absolute;
	border-radius: 8px;
	color: white;
	text-decoration: none;
	background: rgba(255, 255, 255, 0);
	transition: background 0.16s;
	font-weight: 500;
}

#home-navigation ul li a:hover {
	background: rgba(255, 255, 255, 0.16);
}

#home-navigation ul li.ko-fi a {
	width: 352px;
}

#home-navigation ul li.ko-fi a img {
	margin-right: 16px;
}

#footer-outer {
	width: 100%;
	display: block;
	position: relative;
	background: white;
	margin-top: 30px;
	box-shadow: 0 0 32px rgba(113, 112, 112, 0.16);
}

#footer-inner {
	position: relative;
	width: 1120px;
	left: calc((100% - 1120px) / 2);
	padding-top: 30px;
	padding-bottom: 32px;
}

#footer-inner span.copyright {
	font-size: 21px;
	color: black;
	display: block;
	margin-bottom: 11px;
	font-weight: 600;
}

#footer-inner span.trademark {
	font-size: 15px;
	line-height: 24px;
	color: black;
	display: block;
}

#footer-inner span.copyright br {
	display: none;
}

#footer-links {
	margin-top: 9px;
	cursor: default;
}

#footer-links ul,
#footer-links li {
	display: inline-block;
}

#footer-links ul li {
	margin-right: 12px;
}

#footer-links ul li a {
	font-size: 15px;
	line-height: 22px;
	text-decoration: underline;
	color: black;
	font-weight: 600;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
	text-decoration-skip-ink: all;
}

#version {
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: black;
	margin-top: 27px;
	font-weight: 500;
}

#version img {
	float: left;
	margin-right: 16px;
	cursor: help;
}

#listing-container {
	position: relative;
	width: 1153px;
	left: calc((100% - 1120px) / 2);
	top: 60px;
	display: block;
	margin-bottom: 62px;
}

#listing-container h1 {
	font-size: 41px;
	color: black;
	font-weight: 500;
}

#the-post-listing {
	width: 100%;
	margin-top: 59px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 64px;
}

.homepage-post.listing-post {
	width: 100%;
	height: auto;
	display: block;
}

.homepage-post.listing-post a.thumb-link {
	margin-right: 32px;
	float: left;
	display: block;
	margin-bottom: 2px;
}

.homepage-post.listing-post span.timestamp {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	color: #717070;
	float: right;
	display: block;
}

.homepage-post.listing-post span.timestamp a {
	color: #717070;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
	text-decoration-skip-ink: all;
}

.homepage-post.listing-post p {
	font-size: 17.5px;
	line-height: 32px;
	display: block;
	float: right;
	padding-top: 8px;
	width: calc(100% - 352px - 32px);
}

.homepage-post.listing-post .listing-links {
	font-size: 20px;
	line-height: 32px;
	display: block;
	width: calc(100% - 352px - 32px);
	padding-top: 8px;
	float: right;
}

.homepage-post.listing-post .listing-links a {
	color: black;
	font-weight: 600;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

.listing-post-gubbins {
	height: 208px;
	display: block;
}

.individual-post {
	width: 1120px;
	display: block;
	position: relative;
	left: calc((100% - 1120px) / 2);
	margin-top: 16px;
	padding-bottom: 25px;
}

.individual-post h1 {
	font-size: 62px;
	line-height: 80px;
	color: black;
	margin-bottom: 13px;
	font-weight: 700;
	padding-top: 32px;
}

.individual-post.category-news h1 {
	color: #d20202;
}

.individual-post.category-features h1 {
	color: #1564dc;
}

.individual-post.category-reviews h1 {
	color: #f47614;
}

.individual-post .timestamp {
	color: #717070;
	font-size: 22px;
	line-height: 32px;
	top: 15px;
	position: relative;
	font-style: italic;
	float: right;
	font-weight: 300;
}

.individual-post .timestamp a {
	color: #717070;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

.individual-post p,
#no-posts-found p {
	display: block;
	font-size: 20px;
	line-height: 32px;
	position: relative;
	color: black;
	margin-top: 16px;
}

#no-posts-found p {
	margin-top: 45px;
}

.individual-post p:first-of-type {
	margin-top: 41px;
}

.individual-post img {
	margin-top: 55px;
	border-radius: 8px;
}

.individual-post figure + p {
	margin-top: 59px;
}

.individual-post figcaption {
	font-size: 20px;
	line-height: 32px;
	color: #717070;
	padding-left: 32px;
	padding-right: 32px;
	display: block;
	background-image: url("../img/ui_caption-image_dark-grey-on-grey_for15px.png");
	background-size: 15.5px 15px;
	background-repeat: no-repeat;
	background-position: left 9px;
	padding-top: 1px;
}

.individual-post figcaption a {
	color: #717070;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

.individual-post figure.has-caption + p {
	margin-top: 48px;
}

.individual-post h1 + h2 {
	margin-top: 36px;
}

.individual-post h2,
#no-posts-found h2 {
	font-size: 41px;
	line-height: 56px;
	color: black;
	margin-top: 43px;
	font-weight: 500;
}

#no-posts-found h2 {
	margin-top: -12px;
}

.individual-post h2 + p {
	margin-top: 45px !important;
}

.individual-post h3 {
	font-size: 31px;
	line-height: 40px;
	color: black;
	margin-top: 47px;
	font-weight: 500;
}

.individual-post h2 + h3 {
	margin-top: 44px !important;
}

.individual-post h3 + p {
	margin-top: 17px !important;
}

.individual-post h4,
.individual-post h5,
.individual-post h6 {
	font-size: 20px;
	line-height: 32px;
	color: black;
	margin-top: 32px;
	font-weight: 500;
}

.individual-post h3 + h4,
.individual-post h4 + h5,
.individual-post h5 + h6 {
	margin-top: 33px !important;
}

.individual-post .wp-block-quote {
	display: block;
	font-size: 20px;
	line-height: 32px;
	position: relative;
	color: black;
	padding-left: 96px;
	padding-right: 96px;
	background-image: url("../img/ui_blockquote_black-on-grey_for15px.png");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 49px 56px;
	padding-top: 7px;
	padding-bottom: 32px;
}

.individual-post .wp-block-quote cite {
	width: 100%;
	text-align: right;
	position: relative;
	display: block;
	color: #717070;
	font-size: 20px;
	line-height: 32px;
	top: 16px;
	font-style: italic;
	padding-bottom: 16px;
}

.individual-post .wp-block-quote cite a {
	color: #717070;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

.individual-post .wp-block-quote cite:before {
	content: "\2014\00A0";
}

.individual-post .wp-block-quote cite i,
.individual-post .wp-block-quote cite em {
	font-style: normal;
}

.individual-post .wp-block-pullquote {
	margin: 0;
	padding: 0;
}

.individual-post .wp-block-pullquote blockquote {
	display: block;
	position: relative;
	color: black;
	padding-left: 96px;
	padding-right: 96px;
	background-image: url("../img/ui_pullquote_black-on-grey_for23px.png");
	background-size: 23px 23px;
	background-repeat: no-repeat;
	background-position: 41px 56px;
	text-align: left;
	padding-top: 6px;
	margin-bottom: -10px;
}

.individual-post.category-news .wp-block-pullquote blockquote {
	color: #d20202;
	background-image: url("../img/ui_pullquote_red-on-grey_for23px.png");
}

.individual-post.category-news .wp-block-pullquote blockquote a {
	color: #d20202;
}

.individual-post.category-features .wp-block-pullquote blockquote {
	color: #1564dc;
	background-image: url("../img/ui_pullquote_blue-on-grey_for23px.png");
}

.individual-post.category-features .wp-block-pullquote blockquote a {
	color: #1564dc;
}

.individual-post.category-reviews .wp-block-pullquote blockquote {
	color: #f47614;
	background-image: url("../img/ui_pullquote_orange-on-grey_for23px.png");
}

.individual-post.category-reviews .wp-block-pullquote blockquote a {
	color: #f47614;
}

.individual-post .wp-block-pullquote blockquote p {
	font-size: 31px;
	line-height: 40px;
}

.individual-post .wp-block-pullquote blockquote p br {
	width: 1px;
	height: 1px;
	content: "";
	display: block;
	margin-bottom: 15px;
	position: relative;
}

.individual-post .wp-block-pullquote blockquote p br + br {
	display: none !important;
}

@-moz-document url-prefix() {
	.individual-post .wp-block-pullquote blockquote p br {
		margin-bottom: 16px !important;
	}
}

.individual-post .wp-block-pullquote blockquote cite {
	width: 100%;
	text-align: right;
	position: relative;
	display: block;
	color: #717070;
	font-size: 20px;
	line-height: 32px;
	top: 17px;
	font-style: italic;
	padding-bottom: 16px;
}

.individual-post .wp-block-pullquote blockquote cite a {
	color: #717070 !important;
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
}

.individual-post .wp-block-pullquote blockquote cite:before {
	content: "\2014\00A0";
}

.individual-post .wp-block-pullquote blockquote cite i,
.individual-post .wp-block-pullquote blockquote cite em {
	font-style: normal;
}

.individual-post ul,
#no-posts-found ul {
	padding-top: 32px;
	padding-bottom: 32px;
}

.individual-post ul li,
#no-posts-found ul li {
	width: 928px;
	padding-left: 96px;
	font-size: 20px;
	line-height: 32px;
	margin-top: 16px;
	background-image: url("../img/ui_bullet_black-on-grey_for15px.png");
	background-size: 21.5px 15px;
	background-repeat: no-repeat;
	background-position: 42px 8px;
}

.individual-post a,
#no-posts-found a {
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
	color: black;
}

hr,
hr .wp-block-separator {
	border: 0 !important;
	height: 1px !important;
	background: #717070 !important;
	margin-top: 54px !important;
	margin-bottom: 57px !important;
}

.individual-post blockquote.pullquote + p {
	margin-top: 49px;
}

.individual-post ol {
	counter-reset: bullets;
	padding-top: 32px;
	padding-bottom: 32px;
}

.individual-post ol li {
	width: 928px;
	font-size: 20px;
	line-height: 32px;
	margin-top: 16px;
	counter-increment: bullets;
	display: block;
	position: relative;
	left: 96px;
}

.individual-post ol li:before {
	content: counter(bullets) ".";
	width: 64px;
	display: inline-block;
	margin-left: -96px;
	text-align: right;
	margin-right: 32px;
}

.individual-post figure iframe {
	width: 1120px;
	height: 630px;
	border-radius: 8px;
	margin-top: 55px;
	margin-bottom: -2px;
}

span.timetip {
	text-decoration: underline;
	cursor: help;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
	text-decoration-color: rgba(255, 255, 255, 0.64);
}

#post-meta {
	width: 1120px;
	display: block;
	position: relative;
	left: calc((100% - 1120px) / 2);
	margin-top: 29px;
	padding-bottom: 25px;
	border-top: 1px #717070 solid;
}

#post-meta span.post-meta-title {
	font-size: 41px;
	line-height: 56px;
	color: black;
	font-weight: 500;
	padding-top: 20px;
	display: block;
	padding-bottom: 4px;
}

#post-meta div.no-tags {
	position: relative;
	display: block;
	width: 100px;
	height: 9px;
}

#post-meta span.post-meta-tags {
	position: relative;
	display: block;
	margin-top: 41px;
	font-size: 20px;
	line-height: 32px;
}

#post-meta span.post-meta-tags a {
	color: black;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-decoration-skip-ink: all;
	display: inline-block;
}

#crp-container {
	position: relative;
	width: 1153px;
	left: calc((100% - 1120px) / 2);
	display: block;
	height: auto;
	overflow: auto;
	padding-top: 14px;
	padding-bottom: 25px;
}

.crp_related {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 23px;
}

.related-post {
	width: 352px;
	float: left;
	margin-right: 32px;
	display: block;
	height: auto;
	overflow: visible;
}

.related-post a.crp_link {
	border-radius: 8px 8px 0 0;
	display: inline;
	text-decoration: none;
}

.related-post img {
	border-radius: 8px;
	display: block;
	margin-bottom: -5px;
	width: 352px;
	height: 198px;
}

.related-post span.crp_title {
	font-size: 20px;
	line-height: 32px;
	color: black;
	text-decoration: none;
	opacity: 1;
	transition: opacity 0.16s;
	font-weight: 500;
	display: inline;
}

#home-navigation.on-a-single-post {
	margin-top: 29px;
}

#pagination {
	width: 100%;
	display: block;
	border-top: 1px #717070 solid;
	margin-top: 54px;
	padding-bottom: 95px;
	font-size: 0;
	line-height: 0;
	padding-top: 32px;
}

#pagination p {
	float: left;
	position: relative;
	font-size: 22px;
	padding-left: 16px;
	display: block;
	height: 64px;
	line-height: 63px;
}

#pagination p span {
	font-weight: 500;
}

span.newer-posts,
span.older-posts {
	float: left;
	position: relative;
	margin-right: 16px;
	top: 33px;
}

span.newer-posts a,
span.older-posts a {
	display: block;
	width: 64px;
	height: 64px;
	background-color: black;
	border-radius: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	font-size: 0;
	line-height: 0;
}

span.newer-posts a {
	background-image: url(../img/ui_arrow-left_white-on-black_for32px.png);
}

span.older-posts a {
	background-image: url(../img/ui_arrow-right_white-on-black_for32px.png);
}

#pagination-container {
	min-height: 62px;
	display: block;
	position: relative;
	top: 1px;
}

#footer-socials {
	height: 32px;
	position: relative;
	float: right;
	display: block;
	padding-top: 2px;
}

#footer-socials ul,
#footer-socials ul li {
	display: block;
	float: left;
}

#footer-socials ul li {
	width: 32px;
	height: 32px;
	margin-right: 16px;
	border-radius: 6px;
}

#footer-socials ul li.footer-socials-discord {
	background-image: url("../img/socials_discord_white-on-purple_for14px.png");
	background-size: 16px 12px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #5865f2;
}

#footer-socials ul li.footer-socials-instagram {
	background-image: url("../img/socials_instagram_white-on-color_for32px.png");
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ff1066;
}

#footer-socials ul li.footer-socials-mastodon {
	background-image: url("../img/socials_mastodon_white-on-purple_for16px.png");
	background-size: 15px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #6364ff;
}

#footer-socials ul li.footer-socials-ko-fi {
	background-image: url("../img/socials_ko-fi_color-on-blue_for10px.png");
	background-size: 16px 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #29abe0;
}

#footer-socials ul li.footer-socials-tumblr {
	background-image: url("../img/socials_tumblr_white-on-blue_for16px.png");
	background-size: 9px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #011935;
	margin-right: 0;
}

#footer-socials ul li.footer-socials-threads {
	background-image: url("../img/socials_threads_white-on-color_for32px.png");
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #ff1066;
}

#footer-socials ul li a {
	width: 32px;
	height: 32px;
	border-radius: 6px;
	background: rgba(255, 255, 255, 0);
	transition: background 0.16s;
	font-size: 0;
	line-height: 0;
	color: rgba(0, 0, 0, 0);
	display: block;
}

#footer-socials ul li a:hover {
	background: rgba(255, 255, 255, 0.16);
}

#back-to-top {
	float: right;
	display: block;
	width: 64px;
	height: 64px;
	background-color: black;
	border-radius: 8px;
	font-size: 0;
	line-height: 0;
	position: relative;
	top: -5px;
	background-image: url(../img/ui_arrow-up_white-on-black_for32px.png);
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.scrollgress {
	z-index: 9999 !important;
}

#progress-container {
	width: 100%;
	height: 4px;
	position: fixed;
	top: 4px;
	left: 0;
	display: block;
	z-index: 9999;
}

#reading-progress {
	background: transparent !important;
}

.progress-amt {
	background: black !important;
}

.category-news .progress-amt {
	background: #d20202 !important;
}

.category-features .progress-amt {
	background: #1564dc !important;
}

.category-reviews .progress-amt {
	background: #f47614 !important;
}

#not-found {
	font-size: 62px;
	line-height: 80px;
	color: black;
	margin-bottom: 13px;
	font-weight: 700;
	padding-top: 32px;
	clear: both;
	display: flex;
	text-decoration: none;
	animation: glitch 4s linear infinite;
}

#not-found:before,
#not-found:after {
  content: "404: Not found";
  position: absolute;
  left: 0;
  opacity: 0.64;
}

#not-found:before {
  animation: glitchTop 4s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

#not-found:after {
  animation: glitchBotom 6s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

#search-button {
	width: 30px;
	height: 30px;
	border-radius: 6px;
	background-color: black;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	background-image: url(../img/ui_search_white-on-black_for16px.png);
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	top: 8px;
	border: 1px white solid;
	cursor: pointer;
}

#search-container {
	width: 352px;
	height: 112px;
	position: absolute;
	top: 112px;
	left: calc(50% + 208px);
	display: block;
	z-index: 10000;
	border-radius: 0 0 8px 8px;
	background-image: url(../img/ui_search-shield_black_for32px.png);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.16s ease-in-out;
}

#search-container.active {
	opacity: 1;
}

#search-handle {
	width: 32px;
	height: 48px;
	background-color: white;
	border-radius: 6px 6px 0 0;
	position: relative;
	left: 320px;
	top: 0;
	display: block;
	background-image: url(../img/ui_search_black-on-white_for16px.png);
	background-size: 16px 16px;
	background-position: center 8px;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 10002;
	pointer-events: none;
}

#search-container.active #search-handle {
	pointer-events: all;
}

#search-box {
	width: 352px;
	height: 64px;
	background: white;
	border-radius: 8px 0 8px 8px;
	position: relative;
	top: 0;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.32);
	z-index: 10001;
	pointer-events: none;
}

#search-container.active #search-box {
	pointer-events: all;
}

#search-box input {
	width: 318px;
	height: 29px;
	line-height: 29px;
	color: black;
	font-size: 22px;
	font-weight: 400;
	padding: 0 0 1px 0;
	border: 0;
	margin: 16px 0 0 16px;
	outline: none !important;
	background: white;
	border: 1px white solid;
	font-family: "Noto Sans Display", sans-serif;
	pointer-events: none;
}

#search-box input::placeholder {
	color: #717070;
}

#search-container.active #search-box input {
	pointer-events: all;
}

span.search-icon {
	padding-left: 25px;
	background-image: url(../img/inline_search_black-on-grey_for15px.png);
	background-position: 3px center;
	background-size: 15px 15px;
	background-repeat: no-repeat;
}

h1.cat-title-features {
	font-weight: 700 !important;
	color: #1564dc !important;
}

h1.cat-title-guest-blogs,
h1.cat-title-guides,
h1.cat-title-interviews,
h1.cat-title-opinions {
	font-weight: 400 !important;
	color: #1564dc !important;
}

h1.cat-title-news {
	font-weight: 700 !important;
	color: #d20202 !important;
}

h1.cat-title-links,
h1.cat-title-live-updates,
h1.cat-title-rumours,
h1.cat-title-site-updates,
h1.cat-title-updates,
h1.cat-title-videos {
	font-weight: 400 !important;
	color: #d20202 !important;
}

h1.cat-title-reviews {
	font-weight: 700 !important;
	color: #f47614 !important;
}

h1.cat-title-first-impressions,
h1.cat-title-hands-on,
h1.cat-title-previews,
h1.cat-title-second-looks {
	font-weight: 400 !important;
	color: #f47614 !important;
}

h1.cat-title-forthegaymers {
	color: rgba(0, 0, 0, 0) !important;
	background-image: url(../img/category_forthegaymers_color-on-grey_for42px.png);
	background-size: 332px 42px;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 332px;
	height: 42px;
	font-size: 0 !important;
	line-height: 0 !important;
	top: 4px;
	margin-bottom: -1px;
}

h1.cat-title-ace-attorney {
	color: rgba(0, 0, 0, 0) !important;
	background-image: url(../img/category_ace-attorney_color-on-grey_for106px.png);
	background-size: 231px 106px;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 231px;
	height: 113px;
	font-size: 0 !important;
	line-height: 0 !important;
	top: 7px;
}

h1.cat-title-best-of {
	color: rgba(0, 0, 0, 0) !important;
	background-image: url(../img/category_best-of_gold-on-grey_for36-5px.png);
	background-size: 186.5px 36.5px;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 186.5px;
	height: 40.5px;
	font-size: 0 !important;
	line-height: 0 !important;
	top: 1px;
}

h1.cat-title-e3-2016,
h1.cat-title-e3-2021,
h1.cat-title-e3-2023 {
	color: black !important;
	font-weight: 700 !important;
	padding-left: 59.5px;
	background-image: url(../img/category_e3_color-on-grey_for30px.png);
	background-size: 43.5px 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

h1.cat-title-exclusive {
	color: black !important;
	font-weight: 700 !important;
}

h1.cat-title-nintendo-direct {
	color: rgba(0, 0, 0, 0) !important;
	background-image: url(../img/category_nintendo-direct_color-on-grey_for62-5px.png);
	background-size: 354px 62.5px;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 354px;
	height: 62.5px;
	font-size: 0 !important;
	line-height: 0 !important;
	top: -11px;
	margin-bottom: -22px;
}

h1.cat-title-pokemon-presents {
	color: rgba(0, 0, 0, 0) !important;
	background-image: url(../img/category_pokemon-presents_color-on-grey_for162px.png);
	background-size: 246px 162px;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 246px;
	height: 162px;
	font-size: 0 !important;
	line-height: 0 !important;
	top: 4px;
	margin-bottom: -1px;
}

h1.cat-title-state-of-play {
	color: rgba(0, 0, 0, 0) !important;
	background-image: url(../img/category_state-of-play_black-on-grey_for38-5px.png);
	background-size: 350.5px 38.5px;
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 350.5px;
	height: 40.5px;
	font-size: 0 !important;
	line-height: 0 !important;
	top: -2px;
}

h1.cat-title-summer-game-fest-2024 {
	color: #3d299c !important;
	font-weight: 700 !important;
	padding-top: 136px;
	background-image: url(../img/category_summer-game-fest_black-on-grey_for116px.png);
	background-size: 164.5px 116px;
	background-position: left top;
	background-repeat: no-repeat;
	position: relative;
	top: 8px;
	padding-bottom: 8px;
}

h1.cat-title-search {
	line-height: 56px !important;
	position: relative;
	top: -8px;
	margin-bottom: -15px;
}

h1.cat-title-search img,
h1.cat-title-tag img {
	margin-right: 16px;
}

.post-meta-tags img {
	margin-right: 8px;
}

h1.cat-title-tag {
	line-height: 56px !important;
	position: relative;
	top: -8px;
	margin-bottom: -15px;
}

#maintenance-mode-active {
	background: repeating-linear-gradient(-63.4deg, #ffdc16, #ffdc16 16px, black 16px, black 32px);
	background-position: center top;
	position: fixed;
	width: 217px;
	height: 32px;
	top: 32px;
	left: calc(50% - 108.5px);
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.32);
	border-radius: 0 0 8px 8px;
	z-index: 9999999;
	line-height: 31px;
	font-size: 22px;
	color: white;
	font-weight: 700;
	text-shadow: 0 0 6px rgba(0, 0, 0, 1);
	text-align: center;
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	border-right: 1px black solid;
}


/* TITLETAGS */

.individual-post span.titletag,
#post-meta span.titletag,
#jumbotron-outer span.titletag,
#ticker-titletag span.titletag {
	font-size: 22px;
	height: 32px;
	padding: 0 8px 0 8px;
	border-radius: 8px;
	display: inline-block;
	line-height: 31px;
	position: relative;
	left: 0;
	z-index: 100;
	top: 16px;
}

span.titletag {
	font-weight: 700;
}

span.titletag.titletag-hollow {
	font-weight: 500;
}

#jumbotron-outer span.titletag {
	margin-right: 16px;
}

#ticker-titletag span.titletag {
	left: calc((100% - 1120px) / 2);
}

#jumbotron-outer span.titletag {
	background: white;
	color: black;
}

#jumbotron-outer.red span.titletag {
	color: #d20202;
}

#jumbotron-outer.blue span.titletag {
	color: #1564dc;
}

#jumbotron-outer.orange span.titletag {
	color: #f47614;
}

#jumbotron-outer span.titletag.titletag-ace-attorney {
	background-image: url("../img/titletag_ace-attorney_black-on-white_for18px.png");
	background-size: 17px 18px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

#jumbotron-outer.red span.titletag.titletag-ace-attorney {
	background-image: url("../img/titletag_ace-attorney_red-on-white_for18px.png");
}

#jumbotron-outer.blue span.titletag.titletag-ace-attorney {
	background-image: url("../img/titletag_ace-attorney_blue-on-white_for18px.png");
}

#jumbotron-outer.orange span.titletag.titletag-ace-attorney {
	background-image: url("../img/titletag_ace-attorney_orange-on-white_for18px.png");
}

#jumbotron-outer span.titletag.titletag-e3 {
	background-image: url("../img/titletag_e3_black-on-white_for16px.png");
	background-size: 23px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 39px;
}

#jumbotron-outer.red span.titletag.titletag-e3 {
	background-image: url("../img/titletag_e3_red-on-white_for16px.png");
}

#jumbotron-outer.blue span.titletag.titletag-e3 {
	background-image: url("../img/titletag_e3_blue-on-white_for16px.png");
}

#jumbotron-outer.orange span.titletag.titletag-e3 {
	background-image: url("../img/titletag_e3_orange-on-white_for16px.png");
}

#jumbotron-outer span.titletag.titletag-live {
	background-image: url("../img/titletag_live_black-on-white_for32px.png");
	background-size: 16px 96px;
	background-position: 8px 0px;
	background-repeat: no-repeat;
	padding-left: 32px;
	animation: live32 1.6s infinite step-end;
}

#jumbotron-outer.red span.titletag.titletag-live {
	background-image: url("../img/titletag_live_red-on-white_for32px.png");
}

#jumbotron-outer.blue span.titletag.titletag-live {
	background-image: url("../img/titletag_live_blue-on-white_for32px.png");
}

#jumbotron-outer.orange span.titletag.titletag-live {
	background-image: url("../img/titletag_live_orange-on-white_for32px.png");
}

#jumbotron-outer span.titletag.titletag-nintendo-direct {
	background-image: url("../img/titletag_nintendo-direct_black-on-white_for16px.png");
	background-size: 16px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

#jumbotron-outer.red span.titletag.titletag-nintendo-direct {
	background-image: url("../img/titletag_nintendo-direct_red-on-white_for16px.png");
}

#jumbotron-outer.blue span.titletag.titletag-nintendo-direct {
	background-image: url("../img/titletag_nintendo-direct_blue-on-white_for16px.png");
}

#jumbotron-outer.orange span.titletag.titletag-nintendo-direct {
	background-image: url("../img/titletag_nintendo-direct_orange-on-white_for16px.png");
}

#jumbotron-outer span.titletag.titletag-pokemon-presents {
	background-image: url("../img/titletag_pokemon-presents_black-on-white_for16px.png");
	background-size: 16px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

#jumbotron-outer.red span.titletag.titletag-pokemon-presents {
	background-image: url("../img/titletag_pokemon-presents_red-on-white_for16px.png");
}

#jumbotron-outer.blue span.titletag.titletag-pokemon-presents {
	background-image: url("../img/titletag_pokemon-presents_blue-on-white_for16px.png");
}

#jumbotron-outer.orange span.titletag.titletag-pokemon-presents {
	background-image: url("../img/titletag_pokemon-presents_orange-on-white_for16px.png");
}

#jumbotron-outer span.titletag.titletag-state-of-play {
	background-image: url("../img/titletag_state-of-play_black-on-white_for16px.png");
	background-size: 20.5px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 36.5px;
}

#jumbotron-outer.red span.titletag.titletag-state-of-play {
	background-image: url("../img/titletag_state-of-play_red-on-white_for16px.png");
}

#jumbotron-outer.blue span.titletag.titletag-state-of-play {
	background-image: url("../img/titletag_state-of-play_blue-on-white_for16px.png");
}

#jumbotron-outer.orange span.titletag.titletag-state-of-play {
	background-image: url("../img/titletag_state-of-play_orange-on-white_for16px.png");
}

#jumbotron-outer span.titletag.titletag-summer-game-fest {
	background-image: url("../img/titletag_summer-game-fest_black-on-white_for18px.png");
	background-size: 13px 18px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	padding-left: 28px;
}

#jumbotron-outer.red span.titletag.titletag-summer-game-fest {
	background-image: url("../img/titletag_summer-game-fest_red-on-white_for18px.png");
}

#jumbotron-outer.blue span.titletag.titletag-summer-game-fest {
	background-image: url("../img/titletag_summer-game-fest_blue-on-white_for18px.png");
}

#jumbotron-outer.orange span.titletag.titletag-summer-game-fest {
	background-image: url("../img/titletag_summer-game-fest_orange-on-white_for18px.png");
}

#jumbotron-outer span.titletag.titletag-hollow {
	background: rgba(0, 0, 0, 0);
	color: white;
	box-shadow: inset 0 0 0 1px white;
}

.individual-post span.titletag,
#post-meta span.titletag {
	background: black;
	color: white;
}

.individual-post span.titletag.titletag-news,
#post-meta span.titletag.titletag-news {
	background: #d20202;
}

.individual-post span.titletag.titletag-features,
#post-meta span.titletag.titletag-features {
	background: #1564dc;
}

.individual-post span.titletag.titletag-reviews,
#post-meta span.titletag.titletag-reviews {
	background: #f47614;
}

.individual-post span.titletag.titletag-yellow,
#post-meta span.titletag.titletag-yellow {
	background: #ffdc17;
	color: black;
}

.individual-post span.titletag.titletag-ace-attorney,
#post-meta span.titletag.titletag-ace-attorney {
	background-color: black;
	background-image: url("../img/titletag_ace-attorney_white-on-black_for18px.png");
	background-size: 17px 18px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

.individual-post span.titletag.titletag-best-of,
#post-meta span.titletag.titletag-best-of {
	background-color: #be9f43;
	background-image: url("../img/titletag_best-of_white-on-gold_for32px.png");
	background-size: 234.5px 32px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 33.5px;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.32);
}

.individual-post span.titletag.titletag-e3,
#post-meta span.titletag.titletag-e3 {
	background-color: black;
	background-image: url("../img/titletag_e3_color-on-black_for16px.png");
	background-size: 23px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 39px;
}

.individual-post span.titletag.titletag-forthegaymers,
#post-meta span.titletag.titletag-forthegaymers {
	background-color: black;
	background-image: url("../img/titletag_forthegaymers_color-on-black_for32px.png");
	background-size: 37px 32px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 37px;
}

.individual-post span.titletag.titletag-live,
#post-meta span.titletag.titletag-live {
	background-color: #ffdc17;
	background-image: url("../img/titletag_live_black-on-yellow_for32px.png");
	background-size: 16px 96px;
	background-position: 8px top;
	background-repeat: no-repeat;
	padding-left: 32px;
	animation: live32 1.6s infinite step-end;
	color: black;
}

.individual-post span.titletag.titletag-nintendo-direct,
#post-meta span.titletag.titletag-nintendo-direct {
	background-color: #fc1926;
	background-image: url("../img/titletag_nintendo-direct_white-on-red_for16px.png");
	background-size: 16px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

.individual-post span.titletag.titletag-pokemon-presents,
#post-meta span.titletag.titletag-pokemon-presents {
	background-color: black;
	background-image: url("../img/titletag_pokemon-presents_white-on-black_for16px.png");
	background-size: 16px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

.individual-post span.titletag.titletag-state-of-play,
#post-meta span.titletag.titletag-state-of-play {
	background-color: black;
	background-image: url("../img/titletag_state-of-play_white-on-black_for16px.png");
	background-size: 20.5px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 36.5px;
}

.individual-post span.titletag.titletag-summer-game-fest,
#post-meta span.titletag.titletag-summer-game-fest {
	background-color: #3d299c;
	background-image: url("../img/titletag_summer-game-fest_white-on-purple_for18px.png");
	background-size: 13px 18px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	padding-left: 28px;
}

.individual-post span.titletag.titletag-hollow,
#post-meta span.titletag.titletag-hollow {
	background: #edecec;
	color: black;
	box-shadow: inset 0 0 0 1px black;
}

.individual-post span.titletag.titletag-hollow.titletag-news,
#post-meta span.titletag.titletag-hollow.titletag-news {
	color: #d20202;
	box-shadow: inset 0 0 0 1px #d20202;
}

.individual-post span.titletag.titletag-hollow.titletag-features,
#post-meta span.titletag.titletag-hollow.titletag-features {
	color: #1564dc;
	box-shadow: inset 0 0 0 1px #1564dc;
}

.individual-post span.titletag.titletag-hollow.titletag-reviews,
#post-meta span.titletag.titletag-hollow.titletag-reviews {
	color: #f47614;
	box-shadow: inset 0 0 0 1px #f47614;
}

.individual-post a.titletag-link,
#post-meta a.titletag-link {
	border-radius: 8px;
	margin-right: 16px;
}

#ticker-titletag span.titletag {
	background-color: black;
	color: #ffdc17;
}

#ticker-titletag span.titletag.titletag-ace-attorney {
	background-image: url("../img/titletag_ace-attorney_yellow-on-black_for18px.png");
	background-size: 17px 18px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

#ticker-titletag span.titletag.titletag-e3 {
	background-image: url("../img/titletag_e3_yellow-on-black_for16px.png");
	background-size: 23px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 39px;
}

#ticker-titletag span.titletag.titletag-live {
	background-image: url("../img/titletag_live_yellow-on-black_for32px.png");
	background-size: 16px 96px;
	background-position: 8px 0px;
	background-repeat: no-repeat;
	padding-left: 32px;
	animation: live32 1.6s infinite step-end;
}

#ticker-titletag span.titletag.titletag-nintendo-direct {
	background-image: url("../img/titletag_nintendo-direct_yellow-on-black_for16px.png");
	background-size: 16px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

#ticker-titletag span.titletag.titletag-pokemon-presents {
	background-image: url("../img/titletag_pokemon-presents_yellow-on-black_for16px.png");
	background-size: 16px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

#ticker-titletag span.titletag.titletag-state-of-play {
	background-image: url("../img/titletag_state-of-play_yellow-on-black_for16px.png");
	background-size: 20.5px 16px;
	background-position: 8px center;
	background-repeat: no-repeat;
	padding-left: 36.5px;
}

#ticker-titletag span.titletag.titletag-summer-game-fest {
	background-image: url("../img/titletag_summer-game-fest_yellow-on-black_for18px.png");
	background-size: 13px 18px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	padding-left: 29px;
}

.homepage-post span.titletag {
	font-size: 16px;
	height: 24px;
	padding: 0 8px 0 8px;
	border-radius: 4px;
	display: inline-block;
	line-height: 24px;
	position: relative;
	margin-bottom: 8px;
}

.homepage-post a.titletag-link {
	border-radius: 4px;
	margin-right: 8px;
}

.homepage-post span.titletag {
	background: black;
	color: white;
}

.homepage-post span.titletag.titletag-news {
	background: #d20202;
}

.homepage-post span.titletag.titletag-features {
	background: #1564dc;
}

.homepage-post span.titletag.titletag-reviews {
	background: #f47614;
}

.homepage-post span.titletag.titletag-yellow {
	background: #ffdc17;
	color: black;
}

.homepage-post span.titletag.titletag-ace-attorney {
	background-color: black;
	background-image: url("../img/titletag_ace-attorney_white-on-black_for14px.png");
	background-size: 13px 14px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 28px;
}

.homepage-post span.titletag.titletag-best-of {
	background-color: #be9f43;
	background-image: url("../img/titletag_best-of_white-on-gold_for24px.png");
	background-size: 176px 24px;
	background-position: -0.5px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 29px;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.68);
}

.homepage-post span.titletag.titletag-e3 {
	background-color: black;
	background-image: url("../img/titletag_e3_color-on-black_for12px.png");
	background-size: 17.5px 12px;
	background-position: 8px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 33.5px;
}

.homepage-post span.titletag.titletag-forthegaymers {
	background-color: black;
	background-image: url("../img/titletag_forthegaymers_color-on-black_for24px.png");
	background-size: 28px 24px;
	background-position: left center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 28px;
}

.homepage-post span.titletag.titletag-live {
	background-color: #ffdc17;
	background-image: url("../img/titletag_live_black-on-yellow_for24px.png");
	background-size: 13px 72px;
	background-position: 7.5px top;
	background-repeat: no-repeat;
	color: black;
	padding-left: 28px;
	animation: live24 1.6s infinite step-end;
}

.homepage-post span.titletag.titletag-nintendo-direct {
	background-color: #fc1926;
	background-image: url("../img/titletag_nintendo-direct_white-on-red_for12px.png");
	background-size: 12px 12px;
	background-position: 8px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 28px;
}

.homepage-post span.titletag.titletag-pokemon-presents {
	background-color: black;
	background-image: url("../img/titletag_pokemon-presents_white-on-black_for12px.png");
	background-size: 12px 12px;
	background-position: 8px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 28px;
}

.homepage-post span.titletag.titletag-state-of-play {
	background-color: black;
	background-image: url("../img/titletag_state-of-play_white-on-black_for14px.png");
	background-size: 16.5px 14px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 31.5px;
}

.homepage-post span.titletag.titletag-summer-game-fest {
	background-color: #3d299c;
	background-image: url("../img/titletag_summer-game-fest_white-on-purple_for14px.png");
	background-size: 10px 14px;
	background-position: 7.5px center;
	background-repeat: no-repeat;
	color: white;
	padding-left: 25px;
}

.homepage-post span.titletag.titletag.titletag-hollow {
	background: #edecec;
	box-shadow: inset 0 0 0 1px black;
	color: black;
}

.homepage-post span.titletag.titletag.titletag-hollow.titletag-news {
	box-shadow: inset 0 0 0 1px #d20202;
	color: #d20202;
}

.homepage-post span.titletag.titletag.titletag-hollow.titletag-features {
	box-shadow: inset 0 0 0 1px #1564dc;
	color: #1564dc;
}

.homepage-post span.titletag.titletag.titletag-hollow.titletag-reviews {
	box-shadow: inset 0 0 0 1px #f47614;
	color: #f47614;
}


/* LARGE DEVICES - DESKTOPS, 992px AND UP */

@media (max-width: 1200px) {
	#header-inner {
		width: 928px;
		left: calc(50% - 464px);
	}

	#menu-inner {
		width: 928px;
		left: calc(50% - 464px);
	}
	
	#ticker-inner {
		width: 918px;
		left: calc(((100% - 928px) / 2) + 10px);
	}

	#ticker-titletag span.titletag {
		left: calc((100% - 928px) / 2);
	}

	#jumbotron-inner {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	#jumbotron-inner img {
		left: 480px;
		width: 448px;
		height: 252px;
	}
	
	#jumbotron-text {
		width: 448px;
	}
	
	#jumbotron-text span:last-of-type {
		font-size: 53px;
		line-height: 80px;
	}
	
	#socials {
		left: calc(50% + 16px);
	}
	
	#home-content-upper {
		width: 961px;
		left: calc((100% - 928px) / 2);
	}
	
	#home-content-lower {
		width: 961px;
		left: calc((100% - 928px) / 2);
	}
	
	.homepage-post {
		width: 288px;
	}
	
	.homepage-post img {
		width: 288px;
		height: 162px;
	}
	
	#not-sidebar-inner {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	#not-sidebar-inner img {
		width: 288px;
		height: 162px;
	}
	
	#not-sidebar-box-left,
	#not-sidebar-box-right {
		width: 288px;
	}
	
	#not-sidebar-box-mastodon {
		width: 288px;
	}
	
	#not-sidebar-box-mastodon iframe {
		width: 288px;
	}
	
	#home-navigation {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	#home-navigation ul,
	#home-navigation ul li {
		display: inline-block;
		font-size: 0;
		line-height: 0;
	}
	
	#home-navigation ul li {
		width: 160px;
		height: 64px;
		margin-right: 32px;
		border-radius: 8px;
		background: black;
		margin-top: 32px;
		text-align: center;
	}
	
	#home-navigation ul li.ko-fi {
		width: 160px;
	}

	#home-navigation ul li.ko-fi span:after {
		content: "";
	}

	#home-navigation ul li.ko-fi a {
		width: 160px;
	}
	
	#home-navigation ul li.ko-fi a img {
		margin-right: 8px;
	}
	
	#footer-inner {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}

	#footer-inner span.trademark {
		width: 624px;
	}

	#footer-inner span.trademark br {
		display: none;
	}

	#footer-inner span.copyright br {
		display: none;
	}

	#listing-container {
		width: 961px;
		left: calc((100% - 928px) / 2);
	}
	
	.homepage-post.listing-post p {
		width: calc(100% - 288px - 32px);
	}
	
	.homepage-post.listing-post .listing-links {
		width: calc(100% - 288px - 32px);
	}
	
	.individual-post {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	.individual-post ul li,
	#no-posts-found ul li {
		width: 736px;
	}
	
	.individual-post ol li {
		width: 736px;
	}

	.individual-post figure iframe {
		width: 928px;
		height: 522px;
	}
	
	#post-meta {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	#crp-container {
		width: 961px;
		left: calc((100% - 928px) / 2);
	}
	
	.related-post {
		width: 288px;
	}

	.related-post img {
		width: 288px;
		height: 162px;
	}
	
	#search-container {
		left: calc(50% + 112px);
	}
}


/* MEDIUM DEVICES - TABLETS, 768px AND UP */

@media (max-width: 992px) {
	#header-inner {
		width: 736px;
		left: calc(50% - 368px);
	}

	#menu-inner {
		width: 736px;
		left: calc(50% - 368px);
	}

	#menu-inner ul#regular-menu-items {
		display: none;
	}
	
	#ticker-inner {
		width: 726px;
		left: calc(((100% - 736px) / 2) + 10px);
	}

	#ticker-titletag span.titletag {
		left: calc((100% - 736px) / 2);
	}

	#jumbotron-inner {
		width: 736px;
		left: calc((100% - 736px) / 2);
	}
	
	#jumbotron-inner img {
		left: 384px;
		width: 352px;
		height: 198px;
	}
	
	#jumbotron-text {
		width: 352px;
	}
	
	#jumbotron-text span:last-of-type {
		font-size: 53px;
		line-height: 80px;
	}
	
	#socials {
		left: calc(50% + 16px);
	}
	
	#home-content-upper {
		width: 768px;
		left: calc((100% - 736px) / 2);
	}
	
	#home-content-lower {
		width: 768px;
		left: calc((100% - 736px) / 2);
	}
	
	.homepage-post {
		width: 352px;
	}
	
	.homepage-post img {
		width: 352px;
		height: 198px;
	}
	
	#not-sidebar-inner {
		width: 736px;
		left: calc((100% - 736px) / 2);
	}
	
	#not-sidebar-inner img {
		width: 352px;
		height: 198px;
	}
	
	#not-sidebar-box-left,
	#not-sidebar-box-right {
		width: 352px;
	}

	#not-sidebar-box-right {
		margin-right: 0;
	}
	
	#not-sidebar-box-mastodon {
		display: none;
	}
	
	#not-sidebar-box-mastodon iframe {
		display: none;
	}
	
	#home-navigation {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	#home-navigation ul,
	#home-navigation ul li {
		display: inline-block;
		font-size: 0;
		line-height: 0;
	}
	
	#home-navigation ul li {
		width: 160px;
		height: 64px;
		margin-right: 32px;
		border-radius: 8px;
		background: black;
		margin-top: 32px;
		text-align: center;
	}
	
	#home-navigation ul li.ko-fi {
		width: 160px;
	}

	#home-navigation ul li.ko-fi span:after {
		content: "";
	}

	#home-navigation ul li.ko-fi a {
		width: 160px;
	}
	
	#home-navigation ul li.ko-fi a img {
		margin-right: 8px;
	}
	
	#footer-inner {
		width: 736px;
		left: calc((100% - 736px) / 2);
	}

	#footer-inner span.copyright br {
		display: block;
	}

	#footer-inner span.trademark {
		width: 624px;
	}

	#footer-inner span.copyright br {
		display: block;
	}

	#listing-container {
		width: 961px;
		left: calc((100% - 928px) / 2);
	}
	
	.homepage-post.listing-post p {
		width: calc(100% - 288px - 32px);
	}
	
	.homepage-post.listing-post .listing-links {
		width: calc(100% - 288px - 32px);
	}
	
	.individual-post {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	.individual-post ul li,
	#no-posts-found ul li {
		width: 736px;
	}
	
	.individual-post ol li {
		width: 736px;
	}

	.individual-post figure iframe {
		width: 928px;
		height: 522px;
	}
	
	#post-meta {
		width: 928px;
		left: calc((100% - 928px) / 2);
	}
	
	#crp-container {
		width: 961px;
		left: calc((100% - 928px) / 2);
	}
	
	.related-post {
		width: 288px;
	}

	.related-post img {
		width: 288px;
		height: 162px;
	}
	
	#search-container {
		left: calc(50% + 112px);
	}
}